.PartyPage {
    justify-content: flex-start;
    .SearchInput {
        margin-right: 1rem;
    }

    & > .Row { 
        width: 100%;
        padding: 0 1rem;
        box-sizing: border-box;
        a {
            color: black;
            text-decoration: none;
        }

        h3, span {
            flex: 1;
            margin: 0;
            text-align: center;
        }
    }

    .header {
        h3 {
            text-transform: uppercase;
            font-size: xx-large;
        }
    }

    .character {
        font-size: x-large;
        margin: .5rem 0;
    }
}