.DamageItem {
    width: 100%;
    display: flex;
    flex-direction: row;

    .TextInput.DamageItem-Name {
        width: 1px;
        flex: 1;
        input {
            background: none;
        }
    }

    .DamageItem-Value {
        width: 50px;
    }

    .TextInput input { 
        border-radius: 0;
    }
}