.PartyModal {
    width: 700px;
    .TextInput input {
        background-color: rgba(0, 0, 0, 0.8);
    }

    h3 {
        color: white;
        font-variant: small-caps;
    }

    footer {
        display: flex;
        flex-direction: row;
    }
}