.SampleChooser {
    display: flex;
    flex-direction: row;
}

.SampleChooser .Option {
    height: 8rem;
    width: 6rem;
    margin: 1rem;
    border: 1px solid black;
    cursor: pointer;
    opacity: 0.5;
}
.SampleChooser .Option:hover {
    opacity: 1;
}

.SampleChooser .Option.selected {
    opacity: 1;
    border: 6px solid lightskyblue;
}