.IconButton {
    cursor: pointer;
    background-color: rgba(0,0,0, .2);
    padding: 0;
    border-radius: 20px;
    border: none;
    position: relative;
    color: white;
    font-size: medium;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    min-width: 35px;

    .Icon {
        margin-right: 0px;
    }

    &:hover {
        background-color: rgba(0,0,0, .5);
    }

    &.toggled {
        .Icon {
            color: rgba(0,0,0, .2);
        }
        background-color: white;
    }
}